* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* horizontal */
  align-items: center;
  /* vertical */
  height: 130vh;
  width: 100vw;

  background-image: url('image/bg.PNG');
  background-size: cover;
  /* cover whole area */
  background-position: center;
  /* center the image */
  background-repeat: no-repeat;
  /* don’t tile */

  font-family: system-ui, sans-serif;
  color: black;

}


main {
  height: 130vh;
  width: 100vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#loginmain {
  background-color: rgb(231, 194, 243);
}

#loginbody {
  background-color: rgb(231, 194, 243);
}

#homepagemain {
  background: transparent;
  margin-top: 50px;
  margin-bottom: 50px;

}

.container-lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* horizontal */
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

img {
  margin: 20px;
}

h1 {
  margin: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#lightbulb {
  margin: 5px;
}

#titlemessage {
  margin-bottom: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* aligns content to the right */
  padding-left: 360px;

  gap: 300px;

}

.card_img_top {
  margin: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* remove height or set max-width */
  max-width: 300px;
  background-color: transparent;
}

#rowbutton {
  display: flex;
  flex-direction: row;
}

#savehistory {
  display: flex;
  flex-direction: column;
  justify-content: center;



}